body {
    background-color: grey;
}

header {
    width: 1280px;
    margin: 0 auto;
    padding: 17px 66px 39px 44px;
    background-color: white;
}

.img1 {
    vertical-align: middle;
    margin-right: 74px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

li {
    display: inline-block;
    margin-right: 104px;
    color: #7F7F7F;
}

section {
    background-color: #306B34;
    width: 1280px;
    margin: 0 auto;
    padding: 174px 111px 152px 95px;
}

.img2 {
    width: 679px;
    height: 453px;
    vertical-align: middle;
}


div {
    display: inline-block;
    width: 306px;
    margin-left: 82px;
    text-align: left;
    height: 394px;
    vertical-align: middle;
}

h2 {
    font-size: 40px;
    color: #19381F;
}

.text {
    font-size: 20px;
    color: #F4F4F1;
    font-family: 'Noto Serif NP Hmong';
    font-style: italic;
    font-weight: lighter;
    margin-top: 50px;

}

article {
    width: 1280px;
    background-color: #ffff;
    padding: 75px 138px 218px 184px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 33px;
    color: #36413E;
    font-size: 40px;
    font-family: 'Noto Serif NP Hmong';
    font-style: italic;
    font-weight: lighter;
}

.p1 {
    font-size: 20px;
    width: 958px;
    color: #7F7F7F;
    font-family: 'Noto Serif NP Hmong';
    font-style: italic;
    font-weight: lighter;
}

footer {

    width: 1280px;
    margin: 0 auto;
    background-color: #306B34;
    padding: 18px 110px 23px 75px;
}

.p2 {
    font-size: 20px;
    display: inline-block;
    margin-right: 725px;
    color: #F4F4F1;
    font-weight: bold;
}

.p3 {
    font-size: 12px;
    display: inline-block;
    color: #F4F4F1;
}