body {
    background-color: grey;
}

header {
    width: 1280px;
    margin: 0 auto;
    padding: 17px 66px 39px 44px;
    background-color: white;
}

.img1 {
    vertical-align: middle;
    margin-right: 74px;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

li {
    display: inline-block;
    margin-right: 104px;
    color: #7F7F7F;
}